<div class="d-flex flex-column h-100 position-relative">
  <nav class="bg-primary d-flex gap-1 p-1">
    <button class="btn btn-primary" (click)="goBack()" [disabled]="currentIndex <= 0">
      <i class="fa-solid fa-arrow-left"></i>
    </button>
    <button class="btn btn-primary" (click)="goForward()" [disabled]="currentIndex >= history.length - 1">
      <i class="fa-solid fa-arrow-right"></i>
    </button>
    <button class="btn btn-primary" (click)="refreshPage()">
      <i class="fa-solid fa-arrow-rotate-right"></i>
    </button>
    <input class="form-control flex-grow-1" type="text" [(ngModel)]="inputFieldUrl" placeholder="Enter URL"/>
    <button class="btn btn-primary" (click)="connectToWebsite()">
      <i class="fa-solid fa-play"></i>
    </button>
    <button class="btn btn-primary" (click)="takeScreenshot()">
      <i class="fa-solid fa-camera"></i>
    </button>
  </nav>
  <main class="d-flex flex-column align-items-center justify-content-center flex-grow-1 position-relative">

    <!-- overlay defines target size -->
    <div #overlay
         style="pointer-events: none;"
         class="flex-grow-1 position-absolute w-100 h-100 top-0 start-0 z-2"></div>

    <!-- canvas draws the live remote screen -->
    <canvas #screenCanvas
            (click)="onMouseClick($event)"
            class="position-absolute top-0 start-0 z-1"></canvas>

    @if (!(webSocketService.imageSubject | async)) {
      <p><i class="fa-solid fa-spinner fa-spin"></i> Loading...</p>
    }
  </main>
</div>
