@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

// Theme colors
$primary: #6C28FF;
$secondary: #4A4A4A;
$success: #1BC47D;
$info: #1BA5E0;
$warning: #FFC43D;
$danger: #F8485E;
$light: #F8F9FA;
$dark: #1F1F1F;

// Theme color map
$theme-colors: (
  "primary": #6C28FF,
  "secondary": #4A4A4A,
  "success": #1BC47D,
  "info": #1BA5E0,
  "warning": #FFC43D,
  "danger": #F8485E,
  "light": #F8F9FA,
  "dark": #1F1F1F
);

// Custom spacings
$spacers: map-merge(
    $spacers,
    (
      6: $spacer * 4,
      7: $spacer * 6,
      8: $spacer * 8,
      n1: (-$spacer * .25),
      n2: (-$spacer * .5),
      n3: (-$spacer),
      n4: (-$spacer * 1.5),
      n5: (-$spacer * 3)
    )
);

// Import everything else from Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Our stylings
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #fff;
}
